{
  "extends": ["taro/react"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-quotes": "off"
  },
  "overrides": [
    {
      "files": ["./config/*.ts", "babel.config.js", "tailwind.config.js", "postcss.config.js"],
      "rules": {
        "import/no-commonjs": "off"
      }
    }
  ]
}
